body {
    background-color: darkgoldenrod;
}
h1 {
    color: brown;
}
h2 {color: brown;
}
h3 {color: brown;
}
#container {background-color: burlywood;
width: 950px;
margin: 20px auto;
border: 4px solid crimson;
padding: 20px;
}
 
header {
    text-align: center;
}
header h1 {
    color: brown;
    font-size: large;
}